In [2]:
import pandas as pd
data = pd.read_csv("D:/ExcelR/Naive Bayes/SalaryData_Test.csv")
data.head()

,age,workclass,education,educationno,maritalstatus,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native,Salary
0,25,Private,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,34,Private,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K

In [4]:
data.corr()

                   age  educationno  capitalgain  capitalloss  hoursperweek
age           1.000000     0.026123     0.078760     0.057745      0.102758
educationno   0.026123     1.000000     0.131750     0.085817      0.133691
capitalgain   0.078760     0.131750     1.000000    -0.031876      0.090501
capitalloss   0.057745     0.085817    -0.031876     1.000000      0.057712
hoursperweek  0.102758     0.133691     0.090501     0.057712      1.000000

In [6]:
import statsmodels.formula.api as smf

In [9]:
model= smf.ols("capitalgain~age",data = data).fit()

In [11]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:            capitalgain   R-squared:                       0.006
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     93.99
Date:                Sun, 07 Mar 2021   Prob (F-statistic):           3.68e-22
Time:                        23:21:15   Log-Likelihood:            -1.5610e+05
No. Observations:               15060   AIC:                         3.122e+05
Df Residuals:                   15058   BIC:                         3.122e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -637.5205    191.810     -3.324      0.001   -1013.492    -261.549
age           45.3417      4.677      9.695      0.000      36.174      54.509
==============================================================================
Omnibus:                    25036.470   Durbin-Watson:                   1.990
Prob(Omnibus):                  0.000   Jarque-Bera (JB):         13192858.512
Skew:                          11.536   Prob(JB):                         0.00
Kurtosis:                     146.151   Cond. No.                         126.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [16]:
pred = model.predict(data.age)
from ml_metrics import rmse
rmse(pred,data.capitalgain)
data.capitalgain

0           0
1           0
2           0
3        7688
4           0
         ...
15055       0
15056       0
15057       0
15058    5455
15059       0
Name: capitalgain, Length: 15060, dtype: int64