In [2]:
import pandas as pd
import numpy as np

In [4]:
book_df = pd.read_csv('D:/ExcelR/Recommendation system/book.csv',encoding='latin1')

In [6]:
book_df[0:5]

,Unnamed: 0,UserID,BookTitle,BookRating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

In [10]:
#number of unique users in the dataset
len(book_df.UserID.unique())

2182

In [13]:
len(book_df.BookTitle.unique())

9659

In [67]:
user_book_df = book_df.pivot(index='UserID',
                                 columns='BookTitle',
                                 values='BookRating').reset_index(drop=True)

ValueError: Index contains duplicate entries, cannot reshape

In [68]:
user_book_df

True

In [69]:
user_book_df.index = book_df.UserID.unique()

AttributeError: 'bool' object has no attribute 'index'

In [70]:
user_book_df

True

In [71]:
#Impute those NaNs with 0 values
user_book_df.fillna(0, inplace=True)

AttributeError: 'bool' object has no attribute 'fillna'

In [38]:
user_book_df

True

In [40]:
#Calculating Cosine Similarity between Users
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import cosine, correlation

In [42]:
user_sim = 1 - pairwise_distances( user_book_df.values,metric='cosine')

AttributeError: 'bool' object has no attribute 'values'

In [44]:
user_sim

NameError: name 'user_sim' is not defined

In [46]:
#Store the results in a dataframe
user_sim_df = pd.DataFrame(user_sim)

NameError: name 'user_sim' is not defined

In [50]:
#Set the index and column names to user ids 
user_sim_df.index = book_df.UserID.unique()
user_sim_df.columns = book_df.UserID.unique()

NameError: name 'user_sim_df' is not defined

In [52]:
user_sim_df.iloc[0:5, 0:5]

NameError: name 'user_sim_df' is not defined

In [53]:
np.fill_diagonal(user_sim, 0)
user_sim_df.iloc[0:5, 0:5]

NameError: name 'user_sim' is not defined

In [54]:
#Most Similar Users
user_sim_df.idxmax(axis=1)[0:5]

NameError: name 'user_sim_df' is not defined

In [56]:
book_df[(book_df['UserID']==6) | (book_df['UserID']==168)]

Empty DataFrame
Columns: [Unnamed: 0, UserID, BookTitle, BookRating]
Index: []

In [58]:
user_1=book_df[book_df['UserID']==6]

In [60]:
user_2=book_df[book_df['UserID']==11]

In [63]:
user_2.BookTitle

Series([], Name: BookTitle, dtype: object)

In [65]:
user_1.BookTitle

Series([], Name: BookTitle, dtype: object)

In [66]:
pd.merge(user_1,user_2,on='BookTitle',how='outer')

Empty DataFrame
Columns: [Unnamed: 0_x, UserID_x, BookRating_x, Unnamed: 0_y, UserID_y, BookTitle, BookRating_y]
Index: []